/*ANIMACIONES*/
html {
    scroll-behavior: smooth;
}

/*NAVEGACION*/
nav {
    background: black;
    padding: 1rem 2rem;
    display: flex;
    justify-content:right;
    align-items: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.navlinks {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
}

.navlinks:hover {
    color: rgb(61, 100, 184);
}

.navlinks a{
    color: aliceblue;
    text-decoration: none;
    
}


/*BASE*/
body, html {
    padding:0;
    margin: 0;
    height: auto;
}

body {
    background: linear-gradient(-23deg, rgb(55, 87, 166), rgb(20, 20, 20), rgb(159, 56, 155));
    background-size: 400% 400%;
    animation: gradienteAnimacion 10s ease infinite;
}

@keyframes gradienteAnimacion {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p1 {
    animation: slideUp 2s infinite alternate;
}

@keyframes p1 {
    0% { 
        transform: translateY(20px);
        opacity: 0;
    }    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



