.img-saku {
    border-radius: 4%;
    width: 550px;
    height: auto;
    float: left;
}

/*REDES*/

.redes {
    width: 20px;
    height: auto;
}

.youtube {
    width: 60px;
    height: auto;
}

.instagram {
    width: 60px;
    height: auto;
}

.github {
    width: 60px;
    height: auto;
}
